nav {
    background-color: #8C2F27;
    font-family: "playfair-display", serif;
    font-weight: 400;
    font-style: normal;

    display: flex;
    align-items: center;
    padding: 0.75rem 2rem;
}

.nav-logo {
    display: flex;
    align-items: center;
    margin-right: auto; /* pushes logo left */
}

.nav-logo img {
    width: 90px;
    height: auto;
    display: block;
    margin-left:1rem;
}

a.nav-link {
    color: #F7F3EA;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    margin: 0 0.75rem;
}

a.nav-link:hover {
    color: #d9c9a5;
}
/* END NAVBAR */

/* START GE */
.heroImg {
    width: 100%;
    height: auto;
    max-height: 500px;
    overflow: hidden;
}

.heroImg img {
    display: block;
    position: relative;
    top: -50px; /* cuts 50px off the top */
}
/* END GE */